body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Roboto, 'Courier New', Courier, monospace;
    font-weight: bold;
}


.header-links > * {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    color: #F9FAF8;
}

.hero {
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-around;
    padding-left: 185px;
    padding-right: 185px;
} 

.hero-heading,
.hero-subtext,
.sign-up-button
{
    max-width: 400px;
    flex-wrap: wrap;
}

.hero-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

.hero-subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.hero-image > * {
    height: 250px;
    width: 450px;
}

.top {
    display: flex;
    flex-direction: column;
}

.sign-up-button > * {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    width: 80px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: Roboto, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.information-body > img {
    height: 100px;
    width: 10px;
}

.information-body {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.information-body-container {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-body-container > img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border-color: #3882F6;
    border-style: solid;
}

.information-subtext {
    max-width: 130px;
    text-align: center;
    padding: 5px;
}

.quote {
    background-color: #E5E7Eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.quote-credit {
    margin-left: 550px;
    font-weight: bold;
}

.quote-credit,
.quote-text {
    max-width: 750px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    margin: 150px;
    border-style: solid;
    border-color:#3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    color:#F9FAF8;
    max-width: 650px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.call-to-action-title {
    font-size: 20px;
    font-weight: bold;
}

.call-to-action-container {
    display: flex;
    flex-direction: column;
}

.call-to-action-button {
    display: flex;
    align-items: center;
}

.call-to-action-button > * {
    background-color:#3882F6;
    border:none;
    border-color: #F9FAF8;
    border-style: solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-width: 2px;
    color:#F9FAF8;
}

.footer {
    background-color: #1F2937;
    padding: 25px;
    display: flex;
    justify-content: center;
    color:#F9FAF8;
}