body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Roboto, 'Courier New', Courier, monospace;
    font-weight: bold;
}


.header-links > * {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    color: #F9FAF8;
}

.hero {
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: center;
    gap: 25px;
} 

.hero-heading,
.hero-subtext,
.sign-up-button
{
    max-width: 400px;
    flex-wrap: wrap;
}

.hero-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

.hero-subtext {
    color: #F9FAF8;
}

.hero-image > * {
    height: 250px;
    width: 450px;
}

.top {
    display: flex;
    flex-direction: column;
}

.sign-up-button > * {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    width: 80px;
}